
<h1 mat-dialog-title >Add Employe Form</h1>
  
<div mat-dialog-content>

  <form [formGroup]="employeForm">
    <mat-form-field appearance="outline">
      <mat-label>Employe Name</mat-label>
      <input formControlName="employename"matInput placeholder="employe name" required>
  
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input formControlName="employeemail" matInput placeholder="pat@example.com"  required>
      
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="chooseadate"matInput [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Employe Address</mat-label>
      <textarea formControlName="employeaddress"matInput required></textarea>
    </mat-form-field>
   
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Country</mat-label>
      <input formControlName="country" matInput required>
    </mat-form-field>
    <div mat-dialog-actions [align]="'center'">
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">
        Save 
    </button>&nbsp;
    <button mat-raised-button color="warn" mat-dialog-close>
      Close
    </button>
    </div>
  </form>


<router-outlet></router-outlet>

